
#main {
    height: auto;
    width: 20%;
    background-color: blueviolet;
    display: block;
    justify-content: center;
}

.top {
    color: white;
    display: flex;
    justify-content: center;

}
.search > input{
    display: flex;
    justify-content: center;
    margin: 2em;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: black;
    color:white;

      }

h3 {
    color: gainsboro;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}


.icon{
    color:gainsboro;
}

main header div{
    display:flex;
    justify-content: center;
    
}
header{
    display:flex;

}
.bar{
    display: flex;
    justify-content: top-right;
}
body{
    display: flex;
}
.pics{
    display:space-between;
}